<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
  <run>
  <include name="smoke"></include>
  <include name="sanity"></include>
  <exclude name="integration testing"></exclude>
  </run>
  </groups>
    <classes>
      <class name="org.groupings.GroupingConcept"/>
      <class name="org.groupings.GroupingConcept02"/>
      <class name="org.groupings.GroupingConcept01"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
 